:root{
    --light-text-color: #e2d8c6;
    --light-background-color: #723544;
    --dark-text-color: #f4f1eb;
    --dark-background-color: #2b77a4;

    --text-color: var(--light-text-color);
    --background-color: var(--light-background-color);
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}

.my-name, .job-title{
    transition: color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.my-name{
    font-weight:900;
    font-size: 2.625em;
    text-transform: uppercase;
    color: var(--text-color);
}

p.short-description{
    font-family: 'Lora', serif;
    font-size: 0.875em;
    color: var(--text-color);
    text-align: end;
    margin-bottom: 12.4370956147%;
}

.job-title{
    font-weight: 400;
    font-size: 1.125em;
    color: var(--text-color);
}

img.my-logo{
    max-width: 16.510172144%;
    object-fit: contain;
}

.hero{
    background-color: var(--background-color);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: background-color 0.3s ease;
}

.full-page-hero, .page-hero{
    width: 100svw;
    box-sizing: border-box;
    padding: 6.1111111%;
    background-color: var(--background-color);
    color: var(--text-color);
}
.full-page-hero{
    height: 100svh;
}
.page-hero{

}


.body{
    font-family: 'Lora', serif;
    font-size: 1em;
    color: var(--text-color);
}


.bg-primary{
    background-color: var(--background-color);
}
.bg-primary-invert{
    background-color: var(--text-color);
}
.text-color-invert{
    color: var(--background-color);
}
.text-color{
    color: var(--text-color);
}

.my-story>.body{
    margin-bottom: 5%;
}

.hero-footer-container{
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 50%;
}

.copyright-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright{
    font-size: 0.4375em;
    color: var(--text-color);
}

.interest-container{
    height: min-content;
}

.title{
    font-weight:900;
    font-size: 2.625em;
    text-transform: uppercase;
}

.subtitle{
    font-weight: 400;
    font-size: 1.125em;
}

.interests{
    list-style-type: none;
    margin-top: 10%;
}
.interests>li{
    box-sizing: border-box;
    display: inline-block;
    text-transform:uppercase;
    font-size: 1.2em;
    white-space: nowrap;
    border: 2px solid var(--text-color);
    padding: 1% 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    transition: background-color 0.3s ease-in-out, color 0.3s ease;
}
.interests>li:hover{
    background-color: var(--text-color);
    color: var(--background-color);
}

ul.social-links{
    display: none;
    list-style-type: none;
    margin-top: 5%;
}
ul.social-links>li{
    /* display: inline; */
}
ul.social-links>li:not(:last-child){
    margin-right: 2%;
    margin-bottom: 2%;
}
ul.social-links a{
    color: var(--text-color);
    font-size: 1.6em;
    text-decoration: none;
}