.about-me {
    font-size: 1.4em;
    text-align: justify;
    color: white;
    font-weight: 400;
    transition: font-size 0.6s;
    transition-timing-function: cubic;
}

.about-me-title{
    font-size: 2em;
    color: white;
    font-weight: 900;
    margin: 0px;
    text-shadow: 8px 8px #03055e3b;
    transition: transform 100ms, font-size 0.6s;
    transition-timing-function: cubic;
}

p > em{
    transition: color 300ms;
}

p > em:hover{
    color: orange;
}

section.page-content{
    margin: 80px auto;
    width: 680px;
}

@media screen and (max-width: 800px) {
    section.page-content{
        margin: 80px 40px;
        width: auto;
    }
}